@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar button {
  height: 3.5rem;
}
.react-calendar__navigation button {
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__tile—active {
  color: var(—primary);
  background-color: #1087ff;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__tile--active {
  background-color: #1087ff;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  border-top: 5px solid #6c9976;
  border-right: 5px solid #6c9976;
  border-bottom: 5px solid #6c9976;
  border-left: 5px solid #fff;
  animation: spin 1s linear infinite;
  border-radius: 50%;
}

.slick-arrow:before {
  color: #6c9976;
}
.slick-slide > div {
  margin: 0 5px;
}
.slick-slide li {
  list-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
